*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #948585;
}
.game-name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: rgb(1, 4, 44);
    color: green;
}
.game-name h1{
    /* height: 5rem; */
    display: inline;
    background-color: rgb(1, 4, 44);
    
}
img{
    height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.image-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.image{
    height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image:hover{
    cursor: pointer;
  background-color: #081b31;
}
.score-board{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 5rem;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: 3rem;
    margin-top: 2rem;
    color: wheat;
    /* background-color: rgb(1, 4, 44); */
}
#msg{
    /* align-content: center; */
    background-color: rgb(1, 4, 44);
    color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}